// Add your own CSS here!
:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #f9afce;
  --tertiary: #fc70aa;
  --visited: #cb90a8;
  --primary: #ffb347;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --activeoutlinegray: #eeeeee;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #1e1e21 !important;
  --dark: #fbfffe !important;
  --secondary: #f8c8dc !important;
  --visited: #7c646e !important;
  --tertiary: #e95794 !important;
  --primary: #ffb347 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --activeoutlinegray: #535353 !important;
}